<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/"><h1>Gym supply</h1></a>
      <div class="nav-link">
        <a href='/catalog/products'><p>products</p></a>
        <a href='/catalog/categories'><p>categories</p></a>
        <a href='/catalog/brands'><p>brands</p></a>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
